<a href="https://colab.research.google.com/github/sameereinstein/sameereinstein/blob/main/Copy_of_Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
T = 'python'*5

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:
x='python'
print(x[0])
print(x[2])
print(x[4])

p
t
o

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [ ]:
sum = 5+7+4+9+2
ave = sum/5

### Task 4
Write code to find if the given year is a leap year or not.

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [ ]:
I=[21,6,12,57,35,61]
I.sort()
x=int(I[1]+I[4])
print(x)

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.